@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas';
  src: url('../../public/fonts/Bebas.ttf') format('truetype');

}

@font-face {
  font-family: 'Press Start 2P';
  src: url('../../public/fonts/PressStart.ttf') format('truetype');
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

select {
  display: block;
  margin: 0 auto;
  }